<nav class="navbar fixed-top navbar-dark bg-flaggy navbar-expand-md">
  <a class="navbar-brand" routerLink="/">Flagstaff Hill F.C</a>
  <div ngbDropdown display="dynamic" class="d-inline-block">
    <button class="navbar-toggler" type="button" ngbDropdownToggle>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu>
      <button class="dropdown-item" routerLink="/records">Records</button>
      <button class="dropdown-item" [routerLink]="['/stats', 'player']">Player Stats</button>
      <button class="dropdown-item" routerLink="/honour">Honour Boards</button>
      <button class="dropdown-item" routerLink="/association">Association B&amp;F</button>
      <button class="dropdown-item" routerLink="/awards">Yearly Awards</button>
    </div>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/records">Records</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/stats', 'player']">Player Stats</a>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/honour">Honour Boards</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/association">Association B&amp;F</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/awards">Yearly Awards</a>
      </li>
      <!--Only need this dropdown menu when we have more options to display
      <div ngbDropdown display="dynamic" class="d-inline-block">
        <button class="btn btnNoBorder nav-link" type="button" ngbDropdownToggle>More...</button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem routerLink="/association">Association B&amp;F</button>
          <button ngbDropdownItem routerLink="/awards">Yearly Awards</button>
        </div>
      </div>-->
    </ul>
  </div>
</nav>