<div class="container-fluid" style="max-width: 1000px">
  <div class="row row-cols-2 row-cols-md-4 justify-content-center d-none d-sm-flex text-center">
    <div class="col px-0">
      <button type="button" class="btn btn-outline-danger mx-1 mt-3" [routerLink]="['/totd', '2010-2019-Senior']" routerLinkActive="active">Senior - 2010 to 2019</button>
    </div>
    <div class="col px-0">
      <button type="button" class="btn btn-outline-danger mx-1 mt-3" [routerLink]="['/totd', '2010-2019-Junior']" routerLinkActive="active">Junior - 2010 to 2019</button>
    </div>
    <div class="col px-0">
      <button type="button" class="btn btn-outline-danger mx-1 mt-3" [routerLink]="['/totd', '2000-2009-Senior']" routerLinkActive="active">Senior - 2000 to 2009</button>
    </div>
    <div class="col px-0">
      <button type="button" class="btn btn-outline-danger mx-1 mt-3" [routerLink]="['/totd', '2000-2009-Junior']" routerLinkActive="active">Junior - 2000 to 2009</button>
    </div>
  </div>
  <div class="row text-center d-sm-none">
    <div class="col">
      <div ngbDropdown placement="bottom" class="d-inline-block">
        <button type="button" class="btn btn-outline-danger mt-3" id="totdDropdown" ngbDropdownToggle>{{ this.totdDropdownText }}</button>
        <div ngbDropdownMenu aria-labelledby="totdDropdown">
          <button [routerLink]="['/totd', '2010-2019-Senior']" ngbDropdownItem>Senior - 2010 to 2019</button>
          <button [routerLink]="['/totd', '2010-2019-Junior']" ngbDropdownItem>Junior - 2010 to 2019</button>
          <button [routerLink]="['/totd', '2000-2009-Senior']" ngbDropdownItem>Senior - 2000 to 2009</button>
          <button [routerLink]="['/totd', '2000-2009-Junior']" ngbDropdownItem>Junior - 2000 to 2009</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-md-9 col-12 text-center">
      <img class="img-fluid mb-3" src="/img/totd/{{totdImageSource}}">
    </div>
  </div>
</div>