<div class="container-fluid">
  <div class="row">
    <div class="col mt-3 text-center">
      <button type="button" class="btn btn-outline-danger mx-2" [routerLink]="['/totd', '2010-2019-Senior']" routerLinkActive="active">2010 - 2019 Senior TOTD</button>
      <button type="button" class="btn btn-outline-danger mx-2" [routerLink]="['/totd', '2010-2019-Junior']" routerLinkActive="active">2010 - 2019 Junior TOTD</button>
      <button type="button" class="btn btn-outline-danger mx-2" [routerLink]="['/totd', '2000-2009-Senior']" routerLinkActive="active">2000 - 2009 Senior TOTD</button>
      <button type="button" class="btn btn-outline-danger mx-2" [routerLink]="['/totd', '2000-2009-Junior']" routerLinkActive="active">2000 - 2009 Junior TOTD</button>

    </div>
  </div>
  <hr class="my-3" />
  <div class="row justify-content-center">
    <div class="col-md-9 col-12 text-center">
      <img class="img-fluid mb-3" src="/assets/img/totd/{{totdImageSource}}">
    </div>
  </div>
</div>