<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 mt-3" *ngFor="let record of associationRecordsData?.data">
      <div class="card mb-3 mx-auto text-center" style="max-width:400px;">
        <div class="card-header">
          <h5 class="text-truncate">{{ record.a }}</h5>
        </div>
        <div class="card-body">
          <img class="fixedWidthImage rounded mb-2" src="/assets/img/players/association/{{ record.id }}.jpg" alt="{{ record.n | titlecase }}" (error)="updateUrl($event)">
          <a [routerLink]="['/stats', 'player', record.id]">
            <h3 class="card-title text-truncate">{{ record.n }}</h3>
          </a>
          <h3>
            <small class="text-muted">{{ record.y + ' ' + record.g }}</small>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>