<div class="pb-1 pt-1 text-center" style="font-size: 0.9rem;">
  @if(showPremiers) {
  <span class="px-2">
    <span class="text-danger">
      <fa-icon [icon]="faTrophy"></fa-icon>
    </span>
    = Premiers
  </span>
  }
  @if(showAssociation) {
  <span class="px-2">
    <span class="text-danger">
      <fa-icon [icon]="faMedal"></fa-icon>
    </span>
    = Association B&amp;F
  </span>
  }
  @if(showCurrentPlayer) {
  <span class="px-2">
    <span class="text-danger">
      <fa-icon [icon]="faCircleDot"></fa-icon>
    </span>
    = Current Player
  </span>
  }
  @if(showLifeMember) {
  <span class="px-2">
    <span class="text-danger">
      <fa-icon [icon]="faStar"></fa-icon>
    </span>
    = Life Member
  </span>
  }
  @if(showInfo) {
  <span class="px-2">
    <span class="text-danger">
      <fa-icon [icon]="faCircleInfo"></fa-icon>
    </span>
    = Record Info
  </span>
  }
  @if(showBottomHr) {
  <span>
    <hr class="my-1 mx-4" />
  </span>
  }
</div>