<div class="container-fluid">
  <div class="row mx-sm-5 justify-content-center">
    <div class="col mb-1">
      <div class="card border-0">
        <div class="card-body pb-0">
          <h4 class="card-title text-center">{{ recordToShow?.name }}</h4>
          <table class="table table-sm table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">{{ recordToShow?.headers?.c1 }}</th>
                <th scope="col" class="text-center">{{ recordToShow?.headers?.c2 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of recordToShow?.data; let i = index">
                <th scope="row" class="text-center">{{ i + 1 }}</th>
                <td>{{ data.n }}</td>
                <td class="text-center">{{ data.a }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>