<div class="container-fluid">
  <div class="row">
    <div class="col-lg-auto d-lg-block d-none mt-3 position-fixed">
      <div class="btn-group-vertical fixedWidthButtonHonour pb-5" role="group" aria-label="Honour Boards">
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'A Grade']" routerLinkActive="active">A Grade</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'B Grade']" routerLinkActive="active">B Grade</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'C Grade']" routerLinkActive="active">C Grade</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Open Women']" routerLinkActive="active">Open Women</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 18 17.5 17']" routerLinkActive="active">Under 18 / 17.5 / 17</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 16 15']" routerLinkActive="active">Under 16 / 15</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 14 13']" routerLinkActive="active">Under 14 / 13</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 17 16 Girls']" routerLinkActive="active">Under 17 / 16 - Girls</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 14 Girls']" routerLinkActive="active">Under 14 - Girls</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 16.5 Sunday']" routerLinkActive="active">Under 16.5 - Sunday</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 16 Sunday']" routerLinkActive="active">Under 16 - Sunday</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 15 Sunday']" routerLinkActive="active">Under 15 - Sunday</button>
        <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 14 Sunday']" routerLinkActive="active">Under 14 - Sunday</button>
      </div>
    </div>
    <div class="d-lg-block d-none fixedWidthButtonHonour mr-3">
    </div>
    <div class="col-lg-auto d-lg-none mt-3 text-center">
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'A Grade']" routerLinkActive="active">A Grade</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'B Grade']" routerLinkActive="active">B Grade</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'C Grade']" routerLinkActive="active">C Grade</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Open Women']" routerLinkActive="active">Open Women</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 18 17.5 17']" routerLinkActive="active">Under 18 / 17.5 / 17</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 16 15']" routerLinkActive="active">Under 16 / 15</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 14 13']" routerLinkActive="active">Under 14 / 13</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 17 16 Girls']" routerLinkActive="active">Under 17 / 16 - Girls</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 14 Girls']" routerLinkActive="active">Under 14 - Girls</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 16.5 Sunday']" routerLinkActive="active">Under 16.5 - Sunday</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 16 Sunday']" routerLinkActive="active">Under 16 - Sunday</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 15 Sunday']" routerLinkActive="active">Under 15 - Sunday</button>
      <button type="button" class="btn btn-outline-danger" [routerLink]="['/honour', 'Under 14 Sunday']" routerLinkActive="active">Under 14 - Sunday</button>
    </div>
    <div class="col mt-2">
      <h4 class="text-center mb-2">{{ honourBoardData?.name }}</h4>
      <div class="table-responsive">
        <table class="table table-sm table-striped mb-0" style="white-space:nowrap;">
          <thead>
            <tr>
              <th scope="col" class="col-xs-auto pr-5">{{ honourBoardData?.headers.c1 }}</th>
              <th scope="col" class="w-25">{{ honourBoardData?.headers.c2 }}</th>
              <th scope="col" class="w-25">{{ honourBoardData?.headers.c3 }}</th>
              <th scope="col" class="w-25">{{ honourBoardData?.headers.c4 }}</th>
              <th scope="col" class="w-25">{{ honourBoardData?.headers.c5 }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let honourBoardRow of honourBoardData?.data">
              <th scope="row">{{ honourBoardRow.year }}<span class="text-danger pl-2" *ngIf="honourBoardRow.premiers">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </span></th>
              <td>{{ honourBoardRow.coach.replace('*', '') }}<span class="text-danger pl-2" *ngIf="honourBoardRow.coach.endsWith('*')">
                  <fa-icon [icon]="faMedal"></fa-icon>
                </span></td>
              <td>{{ honourBoardRow.captain.replace('*', '') }}<span class="text-danger pl-2" *ngIf="honourBoardRow.captain.endsWith('*')">
                  <fa-icon [icon]="faMedal"></fa-icon>
                </span></td>
              <td>{{ honourBoardRow.bf.replace('*', '') }}<span class="text-danger pl-2" *ngIf="honourBoardRow.bf.endsWith('*')">
                  <fa-icon [icon]="faMedal"></fa-icon>
                </span></td>
              <td>{{ honourBoardRow.mostGoals.replace('*', '') }}<span class="text-danger pl-2" *ngIf="honourBoardRow.mostGoals.endsWith('*')">
                  <fa-icon [icon]="faMedal"></fa-icon>
                </span><span class="float-right">{{honourBoardRow.goals === 0 ? '-' :
                  honourBoardRow.goals}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-legend></app-legend>
    </div>
  </div>
</div>