<div class="row mx-sm-5">
  <div class="col-lg-4 mb-1" *ngFor="let record of recordsData.records">
    <div class="card border-0">
      <div class="card-body">
        <h4 class="card-title text-center">{{ record.name }}</h4>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col" class="text-center">#</th>
              <th scope="col">{{ record.headers.c1 }}</th>
              <th scope="col" class="text-center">{{ record.headers.c2 }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of record.data; let i = index">
              <th scope="row" class="text-center">{{ i + 1 }}</th>
              <td>{{ data.n }}</td>
              <td class="text-center">{{ data.a }}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <button type="button" class="btn btn-outline-danger" [routerLink]="['/records/top100', record.name]">
            <fa-icon [icon]="faChartBar"></fa-icon> View Top 100</button>
        </div>
      </div>
    </div>
    <div class="d-block d-lg-none mx-4">
      <hr>
    </div>
  </div>
</div>