<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto d-md-block d-none mt-3 position-fixed">
            <div class="btn-group-vertical fixedWidthButtonHonour pb-5" role="group" aria-label="Yearly Awards">
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2019']" routerLinkActive="active">2019 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2018']" routerLinkActive="active">2018 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2017']" routerLinkActive="active">2017 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2016']" routerLinkActive="active">2016 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2015']" routerLinkActive="active">2015 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2014']" routerLinkActive="active">2014 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2013']" routerLinkActive="active">2013 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2012']" routerLinkActive="active">2012 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2011']" routerLinkActive="active">2011 Awards</button>
                <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2010']" routerLinkActive="active">2010 Awards</button>
            </div>
        </div>
        <div class="d-md-block d-none fixedWidthButtonHonour mr-3">
        </div>
        <div class="col-md-auto d-md-none mt-3 text-center">
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2019']" routerLinkActive="active">2019 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2018']" routerLinkActive="active">2018 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2017']" routerLinkActive="active">2017 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2016']" routerLinkActive="active">2016 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2015']" routerLinkActive="active">2015 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2014']" routerLinkActive="active">2014 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2013']" routerLinkActive="active">2013 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2012']" routerLinkActive="active">2012 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2011']" routerLinkActive="active">2011 Awards</button>
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/awards', '2010']" routerLinkActive="active">2010 Awards</button>
        </div>
        <div class="col mt-2">
            <nav ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <ng-container ngbNavItem="{{ grade.name }}" *ngFor="let grade of yearlyAwardsData?.grades">
                    <a ngbNavLink>{{ grade.name }}</a>
                    <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-xl-6 mt-3" *ngFor="let award of grade.awards">
                                <div class="card mb-3 mx-auto text-center" style="max-width:550px;">
                                    <div class="row no-gutters">
                                        <div class="col-3 text-left">
                                            <img class="card-img " src="/assets/img/players/{{ award.id }}.jpg" alt="{{ award.player | titlecase }}" (error)="updateUrl($event)">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body">
                                                <h5 class="card-title text-truncate">{{ award.name }}</h5>
                                                <h3 class="card-title text-truncate">{{ award.player }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </nav>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>