<div class="container-fluid">
  <div class="row">
    <div class="col-md-auto d-md-block d-none mt-3 position-fixed">
      <div class="btn-group-vertical fixedWidthButtonHonour pb-5" role="group" aria-label="Yearly Awards">
        <button *ngFor="let year of yearsToShow" type="button" class="btn btn-outline-danger" [routerLink]="['/awards', year ]" routerLinkActive="active">{{ year }} Awards</button>
      </div>
    </div>
    <div class="d-md-block d-none fixedWidthButtonHonour me-3">
    </div>
    <div class="col-md-auto d-md-none mt-3 text-center">
      <button *ngFor="let year of yearsToShow" type="button" class="btn btn-outline-danger" [routerLink]="['/awards', year ]" routerLinkActive="active">{{ year }} Awards</button>
    </div>
    <div class="col mt-2">
      <nav ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <ng-container ngbNavItem="{{ grade.name }}" *ngFor="let grade of yearlyAwardsData?.grades">
          <a ngbNavLink>{{ grade.name }}</a>
          <ng-template ngbNavContent>
            <div class="row">
              <div class="col-xl-6 mt-3" *ngFor="let award of grade.awards">
                <div class="card mb-3 mx-auto text-center" style="max-width:550px;">
                  <div class="row no-gutters">
                    <div class="col-3 text-start">
                      <img class="card-img " src="/assets/img/players/{{ award.id }}.jpg" alt="{{ award.player | titlecase }}" (error)="updateUrl($event)">
                    </div>
                    <div class="col-9">
                      <div class="card-body">
                        <h5 class="card-title text-truncate">{{ award.name }}</h5>
                        <a [routerLink]="['/stats', 'player', award.id]">
                          <h3 class="card-title text-truncate">{{ award.player }}</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </nav>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>