html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 55px;
  margin-bottom: 40px;
}
.bg-flaggy {
  background-color: #0a0a32;
}
.fixedWidthButtonHome {
  width: 9rem;
}
.fixedWidthButtonHonour {
  width: 11rem;
}
.fixedWidthImage {
  width: 9rem;
}
.btnNoBorder {
  border: none;
}
.btnNoBorder:focus {
  box-shadow: none;
}
a {
  color: #212529;
}