<section class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="jumbotron-heading text-light">Flagstaff Hill F.C - Records &amp; Stats</h1>
        <p class="lead text-light">Ever wondered who has played the most games for the Falcons? Perhaps you want to know how many goals you kicked in
            2013? Well you have come to the right place!</p>
        <button type="button" class="btn btn-danger fixedWidthButton mr-2 mt-3 mt-md-0" routerLink="/records">Records</button>
        <button type="button" class="btn btn-danger fixedWidthButton mr-2 mt-3 mt-md-0" [routerLink]="['/stats', 'player']">Player Stats</button>
        <button type="button" class="btn btn-danger fixedWidthButton mr-2 mt-3 mt-md-0" [routerLink]="['/stats', 'coach']">Coach Stats</button>
        <button type="button" class="btn btn-danger fixedWidthButton mr-2 mt-3 mt-md-0" routerLink="/honour">Honour Boards</button>
        <button type="button" class="btn btn-danger fixedWidthButton mr-2 mt-3 mt-md-0" routerLink="/milestones">Milestones</button>
    </div>
    <div class="container mt-5 pt-4 pb-0">
        <div class="card-deck text-center">
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Most Senior Games</h5>
                </div>
                <div class="card-body">
                    <img class="fixedWidthImage rounded mx-auto mb-2" src="/assets/img/wade-stone.png" alt="Wade Stone">
                    <h3 class="card-title text-truncate">Wade Stone</h3>
                    <h3>
                        <small class="text-muted">451 Games</small>
                    </h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Most A Grade Games</h5>
                </div>
                <div class="card-body">
                    <img class="fixedWidthImage rounded mx-auto mb-2" src="/assets/img/david-smith.png" alt="David Smith">
                    <h3 class="card-title text-truncate">David Smith</h3>
                    <h3>
                        <small class="text-muted">213 Games</small>
                    </h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Most Club Games</h5>
                </div>
                <div class="card-body">
                    <img class="fixedWidthImage rounded mx-auto mb-2" src="/assets/img/wade-stone.png" alt="Wade Stone">
                    <h3 class="card-title text-truncate">Wade Stone</h3>
                    <h3>
                        <small class="text-muted">478 Games</small>
                    </h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Most Junior Games</h5>
                </div>
                <div class="card-body">
                    <img class="fixedWidthImage rounded mx-auto mb-2" src="/assets/img/cameron-bahnisch.jpg" alt="Cameron Bahnisch">
                    <h3 class="card-title text-truncate">Cameron Bahnisch</h3>
                    <h3>
                        <small class="text-muted">136 Games</small>
                    </h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Most Goals in a Season</h5>
                </div>
                <div class="card-body">
                    <img class="fixedWidthImage rounded mx-auto mb-2" src="/assets/img/sam-smith.jpg" alt="Sam Smith">
                    <h3 class="card-title text-truncate">Sam Smith</h3>
                    <h3>
                        <small class="text-muted">112 Goals (2012)</small>
                    </h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Most Club Goals</h5>
                </div>
                <div class="card-body">
                    <img class="fixedWidthImage rounded mx-auto mb-2" src="/assets/img/sam-smith.jpg" alt="Sam Smith">
                    <h3 class="card-title text-truncate">Sam Smith</h3>
                    <h3>
                        <small class="text-muted">649 Goals</small>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>